body {
    font-family: Arial, sans-serif;
}

#story-container {
    max-width: 600px;
    /* background-color: darkcyan; */
    margin: 0 auto;
    text-align: center;
}

#choices {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}
